/* ===================
	HEADER TOP
 ====================*/
.header-top {
  font-size: 1.5rem;

  color: var(--gray-color);
  background: #f9f9f9;

  padding: 1.5rem;
}
.header-top__left p {
  margin-bottom: 0px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.header-top__right {
  display: flex;
  align-items: center;

  gap: 0 20px;
}
.header-login a,
.header-freeCall a {
  text-decoration: none;
}
.header-login:hover a .register,
.header-freeCall:hover a .register {
  color: var(--hover-color);
}
.mid-style {
  border-left: 1px solid var(--lineBorder-color);
  border-right: 1px solid var(--lineBorder-color);
  padding: 0 30px;
}
.line-style .register {
  font-weight: 600;
}
.line-style a {
  color: var(--gray-color);
}
.header-icons {
  display: flex;
  gap: 0 30px;
  font-size: 2rem;
}
.header-icons__item a {
  color: var(--black-color);
}
.header-freeCall span {
  padding: 5px;
}
.header-freeCall .register {
  font-weight: bold;
}
/* ================
    MID CONTAINER
 ==================*/
#header #mid-container {
  z-index: 2;
  width: 100%;
  display: block;
  padding: 30px 0;
  position: relative;
  background-color: var(--white-color);
}
#header #mid-container #logo {
  z-index: 2;
  float: left;
  padding: 10px 0;
  position: relative;
}
#header #mid-container #logo a {
  display: block;
}
#header #mid-container #logo a img {
  display: block;
}
.tg-middlecontainer {
  z-index: 2;
  width: 100%;
  float: left;
  padding: 30px 0;
  position: relative;
}
.tg-logo {
  z-index: 2;
  float: left;
  padding: 10px 0;
  position: relative;
}
.tg-logo a {
  display: block;
}
.tg-logo a img {
  display: block;
}
.tg-wishlistandcart {
  z-index: 2;
  float: right;
  padding: 23px 0;
  position: relative;
}
.tg-themedropdown {
  float: left;
  padding: 0 15px;
  position: relative;
}
.tg-themedropdown + .tg-themedropdown {
  border-left: 1px solid #dbdbdb;
}
.tg-btnthemedropdown {
  color: #404040;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  text-transform: capitalize;
}
.tg-btnthemedropdown:focus,
.tg-btnthemedropdown:hover {
  color: #404040;
}
.tg-btnthemedropdown i,
.tg-btnthemedropdown span {
  float: left;
  color: #404040;
}
.tg-btnthemedropdown i {
  font-size: 20px;
  line-height: 20px;
  padding: 0 12px 0 0;
}
.tg-themebadge {
  top: -9px;
  left: 9px;
  min-width: 18px;
  font-size: 10px;
  line-height: 18px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  background: #f16945;
  vertical-align: top;
  display: inline-block;
  color: #fff !important;
}
.tg-themedropdownmenu .tg-description p {
  margin: 0;
  font-size: 1.4rem;
}
.tg-themedropdownmenu {
  top: 100px;
  right: 0;
  left: auto;
  border: 1px solid var(--gray-color);
  opacity: 0;
  z-index: 10;
  width: 330px;
  padding: 15px;
  display: block;
  border-radius: 0;
  margin: 25px 0 0;
  visibility: hidden;
  border-top: 3px solid;
  position: absolute;
  border-top: 3px solid #0a6f3c;
  background-color: var(--white-color);
  transition: all 0.5s ease-in-out;
}
.tg-minicartdropdown {
  padding-right: 0;
}
.tg-minicartbody {
  width: 100%;
  float: left;
  padding: 0 33px 0 0;
  border-bottom: 1px solid #dbdbdb;
}
.tg-minicarproduct {
  width: 100%;
  float: left;
  padding: 0 0 20px;
}
.tg-minicarproduct figure {
  float: left;
  margin: 0 20px 0 0;
}
.tg-minicarproduct figure img {
  z-index: 1;
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.tg-minicarproductdata {
  padding: 12px 0;
  overflow: hidden;
}
.tg-minicarproductdata h5 {
  margin: 0 0 9px;
  font-size: 14px;
  line-height: 17px;
}
.tg-minicarproductdata h5 a {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #404040;
}
.tg-minicarproductdata h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}
.tg-minicarproductdata h6 a {
  color: #666;
}
.tg-minicarproductdata h5:hover a,
.tg-minicarproductdata h6:hover a {
  color: var(--hover-color);
}
.tg-minicartfoot {
  width: 100%;
  float: left;
  padding: 20px 0 0;
}
.tg-btnemptycart {
  float: left;
  color: #666;
  font-size: 14px;
  line-height: 16px;
}
.tg-btnemptycart:hover {
  color: var(--hover-color);
}
.tg-btnemptycart i,
.tg-btnemptycart span {
  float: left;
  font-size: inherit;
  line-height: inherit;
}
.tg-btnemptycart span {
  padding: 0 0 0 10px;
}
.tg-subtotal {
  float: right;
  font-size: 14px;
  line-height: 16px;
  color: #666;
}
.tg-subtotal strong {
  font-size: 15px;
}
.tg-minicartfoot .tg-btns {
  padding: 20px 0 10px;
  margin-top: 20px;
}
.tg-minicartfoot .tg-btns .tg-btn {
  margin: 0;
  padding: 10px;
  width: 45%;
  line-height: 30px;
  float: left;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: var(--gray-color);
}
.tg-minicartfoot .tg-btns .tg-btn:first-child {
  background-color: var(--hover-color);
  color: #fff;
  box-shadow: inset 0 -2px 0 0 var(--hover-color);
}
.tg-minicartfoot .tg-btns .tg-btn:hover {
  background-color: var(--hover-color);
  color: #fff;
  box-shadow: inset 0 -2px 0 0 var(--hover-color);
}
.tg-minicartfoot .tg-btns .tg-btn + .tg-btn {
  float: right;
}
.tg-themedropdown.open .tg-themedropdownmenu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}
#header #mid-container #searchBox {
  top: 10px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 300px;
  position: absolute;
}
#header #mid-container #searchBox fieldset {
  margin: 0 0 6px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  padding: 4px;
  position: relative;
}
#header #mid-container #searchBox fieldset .control {
  border: 0;
  z-index: 2;
  height: 44px;
  line-height: 24px;
  position: relative;
  padding: 5px 54px 5px 10px;
  width: 100%;
  outline: none;
  font-size: 1.7rem;
}
#header #mid-container #searchBox fieldset button {
  top: 0;
  right: 0;
  z-index: 2;
  width: 52px;
  height: 52px;
  font-size: 20px;
  line-height: 44px;
  background: none;
  position: absolute;

  border: none;
}
#header #mid-container #searchBox a {
  float: right;
  color: #55acee;
  font-size: 13px;
  line-height: 13px;
}
/* =============
    NAVIGATION
 ===============*/
.nav {
  display: flex;
  position: relative;
}
.nav input[type="checkbox"] {
  display: none;
}
.navigation {
  background-color: #0a6f3c;
  display: block;
}
.navigation #main-menu {
  display: flex;
}
#main-menu li {
  padding: 19px 10px;
  position: relative;
  cursor: pointer;
}
#main-menu > li:not(:first-child) {
  margin-left: 20px;
}
#main-menu li:hover {
  background-color: #2c753e;
}
#main-menu li a,
#main-menu li label {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
}
#main-menu li a.desktop-links,
#main-menu .sub-menu li a.desktop-links {
  display: none;
}
#main-menu li label i {
  margin-left: 10px;
}
#main-menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white-color);
  width: 250px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
#main-menu li:hover > .sub-menu,
#main-menu .sub-menu li:hover > .second {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;

  pointer-events: auto;
}
#main-menu .sub-menu li {
  border-bottom: 1px solid rgb(243, 243, 243);
  position: relative;
  width: 100%;
}
#main-menu .sub-menu li:last-child {
  border-bottom: none;
}
#main-menu .sub-menu li:hover {
  background-color: rgb(248, 248, 248);
}
#main-menu .sub-menu li a,
#main-menu .sub-menu li label {
  color: var(--black-color);
  font-weight: normal;

  display: flex;
  justify-content: space-between;
  width: 100%;
}
#main-menu li label,
#main-menu .sub-menu li label {
  margin: 0;
}
#main-menu .sub-menu li a i,
#main-menu .sub-menu li label i {
  transform: rotate(-90deg);
}
#main-menu .sub-menu.second {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  visibility: hidden;
  display: block;
  margin-left: 3px;
  width: 110%;
  z-index: 2;
}
.hamburger-menu {
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 8px 0;
  cursor: pointer;
  display: none;
}
.hamburger-menu i {
  font-size: 22px;
  color: #fff;
  padding: 5px 10px;
}
/* =================
    FORM REGISTER
   =================*/
#form {
  background-color: #0a6f3c;
}
#form form {
  padding: 20px 10px;
}
#form form .form-title {
  float: left;
  color: var(--white-color);
  margin-left: 10px;

  cursor: pointer;
}
#form form .form-title h2 {
  margin: 0;

  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.6;
}
#form form .form-title span {
  margin: 0;

  font-size: 1.5rem;
  line-height: 1.4;
}
#form form .form-input {
  display: flex;
  margin-top: 10px;

  gap: 10px;
}
#form form .form-input input {
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  outline: none;
  font-size: 1.4rem;

  margin-left: 100px;

  height: 43px;
}
#form form .form-input input::placeholder {
  color: var(--gray-color);
  font-weight: 660;
}
#form form .form-input #input-name {
  width: 200px;
}
#form form .form-input #input-email {
  width: 300px;

  margin-left: 0;
}
#form form .form-input #btn-register {
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--white-color);
  margin-left: 10px;

  width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#form form .form-input #btn-register span {
  font-size: 1.6rem;
  font-weight: 780;

  color: #0a6f3c;
}
.clear-both {
  clear: both;
}

/* =================
      FOOTER
  =================*/
#footer {
  background-color: #f7f7f7;
}
#footer .row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  background-color: var(--white-color);
  border-radius: 5px;
}
#footer-left {
  border-right: 1px solid #cecece;
}
#footer-left #footer-logo img {
  margin: 10px 0;
  width: 270px;
}
#footer-left #footer-title {
  font-size: 13px;
  line-height: 25px;
}
#footer-left #footer-title span {
  width: 100%;
}
#footer-left ul {
  display: flex;
}
#footer-left ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  background-color: #666;
}
#footer-left ul li#twitter:hover {
  background-color: #1da1f2;
}
#footer-left ul li#facebook:hover {
  background-color: #4267b2;
}
#footer-left ul li#instagram:hover {
  background-color: #fd1d1d;
}
#footer-left ul li a {
  font-size: 20px;
  color: var(--white-color);
}
#footer #footer-right {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
#footer #footer-right h3 {
  font-weight: bold;
  font-size: 16px;
}
#footer #footer-right ul li {
  padding: 10px 0;
}
#footer #footer-right ul li a {
  color: var(--black-color);
  font-size: 13px;
  transition: all 0.5s ease;
  text-decoration: none;
}
#footer #footer-right ul li:hover a {
  color: var(--hover-color);
}
#footer #footer-right #contact {
  display: flex;
  margin-bottom: 10px;
}
#footer #footer-right #contact .l-4 {
  padding: 0;
}
#footer #footer-copyright {
  text-align: center;
  margin: 20px 0;
}
#footer #footer-copyright h3 {
  font-size: 14px;
}
/* 
    RESPONSIVE
*/
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  /* ========== 
         HEADER
  ==========*/
  #header #mid-container {
    padding: 30px 20px;
  }
  #header #mid-container #searchBox {
    position: relative;
    top: 0;
    height: auto;
  }
  #header #mid-container #searchBox form {
    width: 100%;
    margin-top: 14px;
  }
  #header #mid-container #searchBox fieldset .control {
    padding: 0 10px;
    height: 30px;
  }
  #header #mid-container #searchBox fieldset button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
  }
  #header #mid-container #searchBox a {
    font-size: 1.2rem;
    margin-top: 5px;
  }
  .control::placeholder {
    text-overflow: ellipsis;
    font-size: 15px;
  }
  #header #mid-container #wishlistCarts {
    top: 5px;
  }
  #header #mid-container #wishlistCarts .themeDropdown .btn-themeDropdown {
    font-size: 1.3rem;
  }
  #header #mid-container #wishlistCarts .themeDropdown #bellOpen {
    transform: translateX(-100px) translateY(-10px);
  }
  #header #mid-container #wishlistCarts .themeDropdown #wishlistOpen {
    transform: translateY(-10px);
  }
  #header #mid-container #wishlistCarts .themeDropdown .btn-themeDropdown i {
    font-size: 1.7rem;
  }
  #header #mid-container #wishlistCarts .themeDropdown .theme-dropdownMenu {
    width: 290px;
  }
  #header
    #mid-container
    #wishlistCarts
    .themeDropdown
    .theme-dropdownMenu
    .miniCart-body
    .miniCart-product
    figure
    img {
    height: 60px;
    width: 60px;
  }
  #header
    #mid-container
    #wishlistCarts
    .themeDropdown
    .theme-dropdownMenu
    .miniCart-body
    .miniCart-product
    h5 {
    font-size: 1.2rem;
  }
  #header
    #mid-container
    #wishlistCarts
    .themeDropdown
    .theme-dropdownMenu
    .miniCart-body
    .miniCart-product
    h6 {
    font-size: 12px;
    font-weight: 600;
  }
  #header
    #mid-container
    #wishlistCarts
    .themeDropdown
    .theme-dropdownMenu
    .miniCart-body
    .miniCart-product {
    padding: 0 0 10px;
  }
  #header
    #mid-container
    #wishlistCarts
    .themeDropdown
    .theme-dropdownMenu
    .miniCart-foot
    .btn-empty {
    font-size: 1.2rem;
  }
  #header
    #mid-container
    #wishlistCarts
    .themeDropdown
    .theme-dropdownMenu
    .miniCart-foot
    .btns
    .btn {
    width: 125px;
    padding: 20px 0;
  }
  #footer-left #footer-logo img {
    width: 100%;
  }
  #login {
    top: -40%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .header-top {
    display: none;
  }
  /* =========
    NAVIGATION
  ============*/
  #header #mid-container #searchBox {
    position: relative;
    float: left;
    padding: 0;
    height: auto;
  }
  #main-menu {
    display: block;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    /* transform: translate(-10px, 50px); */
    opacity: 0;
    /* transition: all 0.5s ease-in-out; */
    background-color: var(--white-color);
  }
  .control::placeholder {
    font-size: 14px;
  }
  #main-menu > li:hover {
    background-color: #fff;
  }
  #main-menu li {
    border-bottom: 2px solid rgb(243, 243, 243);
    padding: 10px;
  }
  #main-menu li:hover > .sub-menu,
  #main-menu .sub-menu li:hover > .second {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  #main-menu li a,
  #main-menu .sub-menu li a,
  #main-menu li label,
  #main-menu .sub-menu li label {
    color: var(--gray-color);
    display: block;
  }
  #main-menu li a i,
  #main-menu .sub-menu li a i {
    float: right;
    transform: rotate(-90deg);
  }
  #main-menu .sub-menu li label i {
    transform: rotate(0deg);
  }
  #main-menu > li:not(:first-child) {
    margin: 0;
  }
  .hamburger-menu {
    display: flex;
    justify-content: center;
    width: 44px;
  }
  #check:checked ~ .hamburger-menu i::before {
    content: "\f00d";
  }
  #check:checked ~ #main-menu {
    opacity: 1;
  }
  #main-menu .sub-menu,
  #main-menu .sub-menu.second {
    position: static;
    opacity: 1;
    visibility: visible;
    max-height: 0;
    overflow: hidden;
    box-shadow: none;
    width: 100%;
  }
  #main-menu .sub-menu li a {
    font-size: 15px;
  }
  #main-menu #checkProducts:checked ~ label i,
  #main-menu .sub-menu #checkTotals:checked ~ label i,
  #main-menu .sub-menu #checkBusiness:checked ~ label i,
  #main-menu .sub-menu #checkLiterature:checked ~ label i,
  #main-menu .sub-menu #checkLanguage:checked ~ label i,
  #main-menu .sub-menu #checkKnowledge:checked ~ label i,
  #main-menu .sub-menu #checkThematic:checked ~ label i,
  #main-menu .sub-menu #checkLanguageEnglish:checked ~ label i,
  #main-menu .sub-menu #checkDictionary:checked ~ label i {
    transform: rotate(-90deg);
  }
  #main-menu #checkProducts:checked ~ .sub-menu,
  #main-menu .sub-menu #checkTotals:checked ~ .second,
  #main-menu .sub-menu #checkBusiness:checked ~ .second,
  #main-menu .sub-menu #checkLiterature:checked ~ .second,
  #main-menu .sub-menu #checkLanguage:checked ~ .second,
  #main-menu .sub-menu #checkKnowledge:checked ~ .second,
  #main-menu .sub-menu #checkThematic:checked ~ .second,
  #main-menu .sub-menu #checkLanguageEnglish:checked ~ .second,
  #main-menu .sub-menu #checkDictionary:checked ~ .second {
    max-height: 100vh;
    transition: all 0.4s ease-in-out;
  }

  /* 
      FORM
  */
  #form form{
    display: flex;
    flex-direction: column;
  }
  #form form .form-input input{
    margin-left: 0;
  }
  #form form .form-input #input-email{
    width: 270px;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  
  #footer,
  #form {
    display: none !important;
    background: none;
  }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #header #mid-container #wishlistCarts {
    width: 100%;
    text-align: center;
  }
  #header #mid-container #logo {
    display: block;
    float: none;
    margin: 0 auto;
  }
  #header #mid-container #logo a img {
    margin: 0 auto;
  }
  #header #mid-container #wishlistCarts .themeDropdown #bellOpen {
    transform: translateX(30px) translateY(-20px);
  }
  #header #mid-container #wishlistCarts .themeDropdown #wishlistOpen {
    transform: translateX(30px) translateY(-25px);
  }
  #header #mid-container #wishlistCarts .tg-themedropdown {
    float: none;
    position: static;
    display: inline-block;
    vertical-align: middle;
  }
  .tg-themedropdown {
    float: left;
    padding: 0 7px;
    position: relative;
  }
}
